.header {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 20px auto; 
}

.header nav ul {
  display: flex;
  list-style-type: none;
}

.header nav ul li {
  margin-right: 50px;
}

.header nav ul li a {
  text-decoration: none;
  color: #ff6060;
}