.gallery {
    background: #F7F7F7;
    border-radius: 25px;
    margin-top: 60px;
    max-width: 1440px;
    max-height: 3000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 60px;
    padding: 60px;
}