.FicheLogement {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #FF6060;

    .title {
        font-weight: 500;
        font-size: 36px;
        margin: 30px 0px 0px 0px;
    }

    .location {
        font-size: 18px;
        margin: 10px 0px 20px 0px;
    }

    .tags {
        margin-bottom: 15px;
    }

    .tags>span {
        margin-right: 10px;
        padding: 5px 25px 5px 25px;
        background: #FF6060;
        border-radius: 10px;
        font-weight: lighter;
        color: #FFFFFF;
        font-size: 15px;
    }

    .frames {
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 1240px;
        max-width: 100%;
    }

    .barre-description {
        width: 500px;
        max-width: 100%;
        margin-right: 200px;
    }

    .barre-equipements {
        width: 500px;
        max-width: 100%;
    }

    .FicheLogement .scrollingMenu {
        margin: 0;
    }

    .eachEquipment {
        display: block;
    }

    p.description {
        margin: 0;
    }

.Titles-and-host {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.Host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 160px;
}

.nameHost {
    width: 90px;
    font-size: 18px;
}

.pictureHost {
    border-radius: 80px;
    width: 95px;
}
}

.Rate-and-tags {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Rate {
    font-size: 25px;
  }

.filled-star {
    color: #FF6060;
    margin-right: 15px;
  }
  .empty-star {
    color: #E3E3E3;
    margin-right: 15px;
  }
