.FicheLogement {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #FF6060;

    .title {
        font-weight: 500;
        font-size: 36px;
        margin: 0px;
    }

    @media (max-width: 1240px) {
        margin: 0px;
    }

    .location {
        font-size: 18px;
        margin: 0px;
        width: 50%;
    }

    .tags {
        margin-top: 20px;

        @media (max-width: 1240px) {
            width: 600px;
        }
    }

    .tags>span {
        margin-right: 10px;
        padding: 5px 25px 5px 25px;
        background: #FF6060;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 15px;
        width: 190px;
        max-width: 100%;
        flex-wrap: wrap;

        @media (max-width: 600px) {
            padding: 5px;
        }
    }

    .frames {
        display: flex;
        align-items: flex-start;
        margin-top: 25px;
        margin-bottom: 50px;
        width: 1240px;
        max-width: 100%;

        @media (max-width: 1240px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .barre-description {
        max-width: 500px;
        margin-right: 200px;

        @media (max-width: 1240px) {
            margin-bottom: 20px;
            margin-right: 0px;
            align-items: center;
        }
    }

    .barre-equipements {
        max-width: 500px;
    }

    .FicheLogement .scrollingMenu {
        margin: 0;
    }

    .eachEquipment {
        display: block;
    }

    p.description {
        margin: 0;
    }

    .first-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .Host {
        display: flex;
        align-items: flex-start;
        max-width: 100%;

        @media (max-width: 1240px) {
            flex-direction: column-reverse;
        }
    }

    .nameHost {
        width: 90px;
        font-size: 19px;
        margin-top: 15px;

        @media (max-width: 1240px) {
            width: 100%;
        }
    }

    .pictureHost {
        border-radius: 90px;
        width: 80px;

        @media (max-width: 1240px) {
            flex-wrap: wrap;
        }
    }
}

.details-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1240px) {
        flex-wrap: wrap;
    }
}

.Rate {
    display: flex;
    align-items: flex-start;
    font-size: 25px;
    margin-top: 20px;

    @media (max-width: 1240px) {
        margin-top: 15px;
    }
}

.filled-star {
    color: #FF6060;
    margin-right: 10px;
}

.empty-star {
    color: #E3E3E3;
    margin-right: 15px;
}